@import '../utilities/extends';

.btn{


&-dark{
	@extend %btn;
	background: $dark;
	color:$light;

}
&-light{
	@extend %btn;
	background-color: lighten($secondary, 40%);
	color:$dark;
}
&-primary{
	@extend %btn;
	background:$primary;
	color:$light;
}
}