.categories {
  background-color: $light;
  border-radius: 10px;
  cursor: pointer;
  & div {
    height: 50%;
  }
  & img {
    box-shadow: 10px 40px 20px -10px gray, -10px 40px 35px -10px gray;
  }
  & .shop {
    color: $dark;
    font-weight: 400;
  }
  & h4 {
    color: $dark;
    font-weight: 900;
  }
}

.category {
  p{
    color:$secondary;
  }
  h3{
    color: $dark;
  }
  h4{
    color: $primary
  }
  box-shadow: 10px 40px 20px -10px $secondary, -10px 40px 35px -10px $secondary;

}
.topic{
  background: $dark;
  color:$light;

}

.my-node-enter {
  transform: scale(0, 0);
}
.my-node-enter-active {
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}
.my-node-exit {
  transform: scale(0, 0);
}
.my-node-exit-active {
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}
