.container__div {
    display: grid;
    display: -ms-grid;
    gap: 40px;
    margin: 20px;
}

// new product section
section.section {
    background-color: $dark;
    .new-product {
        margin: 0 5vw;
        max-height: 400px;
        .second,
        img {
            width: 100%;
        }
        img {
            max-height: 400px;
        }
        .first {
            position: absolute;
            left: 10vw;
            right: 10vw;
            top:7vh;
            @include col-flex;
            align-items: center;
            > * {
                margin-top: 10px;
            }
            text-align: center;
            @include for-size(tablet-portrait-up) {
                top: 14vh;
            }
        }
        @include for-size(tablet-landscape-up) {
            .first {
                position: static;
                text-align: left;
                align-items: flex-start;
            }
            .first,
            .second {
                width: 40%;
            }
            @include row-flex;
            justify-content: space-between;
        }
    }
}
//categories component container and products component container
.categories-container,
.products {
    display: -ms-grid;
    display: grid;
    gap: 40px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -ms-grid-columns: repeat(auto-fit, minmax(200px, 1fr));
}

//categories element and product
.categories,
.product,
.topic {
    align-items: center;
    margin-top: 50px;
    @include col-flex;
}
.topic {
    margin: 0;
    height: 100px;
}
.categories {
    & img {
        position: relative;
        height: 100px;
        width: 100px;
        bottom: 8vh;
    }
    & .shop {
        @include row-flex;
    }
}

.category,
.category-reverse {

    > *,
    .first > * {
        margin: 10px 0;
    }
    .first {
        @include col-flex;
        align-items: center;
        text-align: center;
    }
    .image-container {
        height: 200px;
    }
    img {
        width: 80%;
        height: 80%;
    }
    button {
        width: 100%;
    }
    p{
        padding: 0 10px;
    }
}
@include for-size(tablet-landscape-up) {
    .category,
    .category-reverse {
        display: flex;
        justify-content: space-between;
        height: 450px;
        align-items: center;
        > * {
            width: 45%;
        }
    }
    .category-reverse {
        flex-direction: row-reverse;
    }
}

// .image-continer is used to wrap images on products,cart and product-details component
.image-container {
    height: 50%;
    background: $light;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    text-align: center;
    max-height: 400px;
    > * {
        width: 100%;
    }
    button {
        width: 80%;
    }
    img {
        height: 70%;
        width: 70%;
    }
    :nth-child(2) {
        height: 30%;
        @include col-flex;
        align-items: center;
    }
}

// Navigation Component Layout
// Mobile first responsive design
header{
    position: fixed;
    width: 100vw;
    z-index: 10;
    top:0;
}
.navigation {
    @include row-flex;
    min-height: 8vh;
    border-bottom: 1px solid $light;
    margin: 0 5vw;


    .cart-counter{
        position: relative;
        bottom:20px;

    }

    // ".nav" is a prefix which raps all the flex items inside the navigation element.
    .nav {
        //.nav-heading
        &-heading {
            @include row-flex;
            width: 60%;
            @include for-size(tablet-portrait-up) {
                width: 33.99%;
            }
            @include for-size(tablet-landscape-up) {
                width: auto;
                .icons {
                    display: none;
                }
            }
        }
        // .nav-links container
        &-links {
            position: absolute;
            left: 10vw;
            top: 80px;
            width: 70vw;
            height: 300px;

            ul {
                @include col-flex($j-content: space-around);
            }

            @include for-size(tablet-landscape-up) {
                position: static;
                width: auto;
                height: auto;
                ul {
                    flex-direction: row;
                }
            }
        }
    }
}

//Footer Layout with css grid

.footer {
    display: grid;
    display: -ms-grid;
    gap: 15px;
    text-align: center;
    margin: 5vh 5vw;
    &-social ul {
        display: flex;
        justify-content: center;
    }
    &-thick-line {
        > div {
            width: 20vw;
            height: 5px;
        }
        display: flex;
        justify-content: center;
    }

    @include for-size(tablet-portrait-up) {
        li {
            padding: 0;
            padding-right: 15px;
        }

        text-align: left;
        .nav-links {
            grid-area: links;
        }
        .footer {
            &-paragraph {
                grid-area: para;
            }
            &-thick-line {
                grid-area: line;
                justify-content: flex-start;
            }
            &-social {
                grid-area: social;
                ul {
                    justify-content: flex-end;
                    align-content: flex-end;
                }
            }
            &-copyright {
                grid-area: copyright;
            }
            &-heading {
                grid-heading: heading;
            }
        }
        nav > ul {
            display: flex;
        }

        grid-template-areas:
            "line line"
            "heading heading"
            "links links"
            "para para"
            "copyright social";
    }

    @include for-size(desktop-up) {
        grid-template-areas:
            "line line"
            "heading links"
            "para social"
            "copyright copyright";
    }
}

//dashboard view
//article

.article {
    @include col-flex;
    text-align: center;
    > div,
    p {
        margin: 1.5rem 0;
    }

    @include for-size(tablet-landscape-up) {
        flex-direction: row-reverse;
        text-align: left;
        justify-content: space-between;
        > div {
            align-self: center;
        }
        img,
        > div {
            width: 47%;
        }
    }
}

/*
Product Details view component.

**/
.product-details-container {
    @include for-size(tablet-portrait-up) {
        display: flex;
    }
}
.product-details,
.description {
    .image-container {
        height: 350px;
    }

    img {
        width: 80%;
        height: 80%;
    }
    margin: 10px;

    display: flex;
    flex-direction: column;

    .details,
    aside,
    article {
        display: flex;
        flex-direction: column;
        > * {
            margin-top: 13px;
        }
    }
}

/**
Cart component layout
*/
.cart-container {
    display: flex;
    flex-direction: column-reverse;
    @include for-size(tablet-landscape-up) {
        flex-direction: row;
        justify-content: space-between;
        > * {
            width: 47%;
        }
    }
}
.cart,
.cart-header {
    display: flex;
    text-align: center;
    align-items: center;


    img {
        width: 80%;
        height: 80%;
    }
    button {
        width: 90%;
    }
    :nth-child(2) {
        flex: 2;
    }
    > * {
        flex: 1;
    }
    margin-top: 10px;
}

.cart-quantity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.cart-header {
    height: 50px;
}

.cart-summary,.grand-total{
    @include row-flex;

}
.summary{
    text-align: right;
}

form {
    padding: 10px 0;
   > div{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
       padding: 10px 0;

       h4, .form-group.address{
           width: 100%;
       }
       .form-group{
           width:47%;
           padding: 10px 0;
       }
   }
   .form-group{
       flex-direction: column;
       display: flex;
   }
}

.error{
    @include col-flex;
    margin: 20vh 0;
    align-items: center;
    text-align: center;
    >*{
        padding: 5vh 0;

    }
    p{
        color:#fff;
        background:rgb(245, 12, 12);
        margin:10px;
        height:10vh;
        font-size: 20px;
    }

}

.spin {
    width: 100px;
    height: 100px;
    border-top : 10px solid $primary;
    animation-name: spin;
    border-radius: 50%;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 40vh auto;

  }

  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

