//reset.scss

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
li {
  text-transform: uppercase;
}

h2[class~="heading"]{
  text-transform: lowercase;
}

ol,
ul {
  list-style: none;
}
li {
  padding: 0.9em;
}

img {
  max-width: 100%;
  height: auto;
}

